body {
	padding: 1em 2em;
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
	display: block;
	color: inherit;
	text-align: center;
	text-decoration: none;
}
.btn {
	border-width: 0 18px;
	border-style: solid;
	font-weight: bold;
	line-height: 44px;
}
.btn-black {
	background: #363636;
	color: #dbd5c0;
}
.btn-yellow {
	background: #fffd48;
	color: #333;
}
.btn-red {
	background: #b50000;
	color: #ffde75;
}